@page "/culc"

<div class="container_first">
    <div class="row">
        <div class="important_name">
            <h2 class="text_color tema_font"><i>Калькуляторы рентабельности пород</i></h2>
        </div>
    </div>
</div>
<div class="main_container">
    <div class="container">
        <div class="row">
            <div>
                <p>
                    В этом разделе собраны все калькуляторы. Выберите породу птиц, которая вам интересна, и вы сможете не только
                    изучить основную информацию о ней, но и подсчитать на калькуляторе рентабельность содержания этой породы.
                </p>
            </div>
        </div>
    </div>

    <br />

    <h2 class="mb-0 pb-0"><span class="title_color"><b>Куры</b></span></h2>
    <div class="container mt-0 pt-0">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes_culc">
                    <a href="hen1"><img class="img-fluid tema_interes_img" src="/img/hens/hen287.jpg" /><h4 class="tema_name"><b>Куры породы Леггорн</b></h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes_culc">
                    <a href="hen2"><img class="img-fluid tema_interes_img" src="/img/hens/hen846.jpg" /><h4 class="tema_name"><b>Кучинская юбилейная порода кур</b></h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes_culc">
                    <a href="hen3"><img class="img-fluid tema_interes_img" src="/img/hens/hen174.jpg" /><h4 class="tema_name"><b>Бройлер КОББ-500</b></h4></a>
                </div>
            </div>
        </div>
    </div>


    <br /><br />
    <h2 class="mb-0 pb-0"><span class="title_color"><b>Перепела</b></span></h2>
    <div class="container mt-0 pt-0">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes_culc">
                    <a href="quails1"><img class="img-fluid tema_interes_img" src="/img/quails/quails845.jpg" /><h4 class="tema_name"><b>Эстонская порода перепелов</b></h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes_culc">
                    <a href="quails2"><img class="img-fluid tema_interes_img" src="/img/quails/quails105.jpg" /><h4 class="tema_name"><b>Маньчжурская порода перепелов</b></h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes_culc">
                    <a href="quails3"><img class="img-fluid tema_interes_img" src="/img/quails/quails643.jpg" /><h4 class="tema_name"><b>Порода перепелов Фараон</b></h4></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes_culc">
                    <a href="quails4"><img class="img-fluid tema_interes_img" src="/img/quails/quails385.jpg" /><h4 class="tema_name"><b>Техасская порода перепелов</b></h4></a>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br />

</div>