@page "/game"

<div class="container mt-4">
    <div class="row justify-content-center">
        <div>
            <img class="m-2" src="/img/Icon.jpg" height="90" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div>
            <h6 class="mb-3" align="center">
                <i>
                    Хотите немного отвлечься?<br /><big>Сыграйте в нашу игру Smart Chicken!</big><br /><br />
                    Кликайте левой кнопкой мыши, чтобы курочка не падала.<br />
                    Старайтесь продержаться как можно дольше, собирайте яйца и ни во что не врезайтесь!
                </i>
            </h6>
        </div>
    </div>
    <div class="pict_img1">
        <img class="img-fluid" src="/img/game.jpg" />
    </div>
</div>
<br />
<br />
<br />
<br />
