@page "/"

@*<h2>A</h2>
<br />
<h4 class="text_color oi oi-account-login" mb-3"></h4>
<br />
<h4 class="text_color oi oi-account-logout" mb-3"></h4>
<br />
<h4 class="text_color oi oi-action-redo" mb-3"></h4>
<br />
<h4 class="text_color oi oi-action-undo" mb-3"></h4>
<br />
<h4 class="text_color oi oi-align-center" mb-3"></h4>
<br />
<h4 class="text_color oi oi-align-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-align-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-aperture" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-bottom" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-circle-bottom" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-circle-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-circle-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-circle-top" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-thick-bottom" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-thick-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-thick-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-thick-top" mb-3"></h4>
<br />
<h4 class="text_color oi oi-arrow-top" mb-3"></h4>
<br />
<h4 class="text_color oi oi-audio" mb-3"></h4>
<br />
<h4 class="text_color oi oi-audio-spectrum" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>B</h2>
<br />
<h4 class="text_color oi oi-badge" mb-3"></h4>
<br />
<h4 class="text_color oi oi-ban" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bar-chart" mb-3"></h4>
<br />
<h4 class="text_color oi oi-basket" mb-3"></h4>
<br />
<h4 class="text_color oi oi-battery-empty" mb-3"></h4>
<br />
<h4 class="text_color oi oi-battery-full" mb-3"></h4>
<br />
<h4 class="text_color oi oi-beaker" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bell" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bluetooth" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bold" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bolt" mb-3"></h4>
<br />
<h4 class="text_color oi oi-book" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bookmark" mb-3"></h4>
<br />
<h4 class="text_color oi oi-box" mb-3"></h4>
<br />
<h4 class="text_color oi oi-briefcase" mb-3"></h4>
<br />
<h4 class="text_color oi oi-british-pound" mb-3"></h4>
<br />
<h4 class="text_color oi oi-browser" mb-3"></h4>
<br />
<h4 class="text_color oi oi-brush" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bug" mb-3"></h4>
<br />
<h4 class="text_color oi oi-bullhorn" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>C</h2>
<br />
<h4 class="text_color oi oi-calculator" mb-3"></h4>
<br />
<h4 class="text_color oi oi-calendar" mb-3"></h4>
<br />
<h4 class="text_color oi oi-camera-slr" mb-3"></h4>
<br />
<h4 class="text_color oi oi-caret-bottom" mb-3"></h4>
<br />
<h4 class="text_color oi oi-caret-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-caret-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-caret-top" mb-3"></h4>
<br />
<h4 class="text_color oi oi-cart" mb-3"></h4>
<br />
<h4 class="text_color oi oi-chat" mb-3"></h4>
<br />
<h4 class="text_color oi oi-check" mb-3"></h4>
<br />
<h4 class="text_color oi oi-chevron-bottom" mb-3"></h4>
<br />
<h4 class="text_color oi oi-chevron-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-chevron-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-chevron-top" mb-3"></h4>
<br />
<h4 class="text_color oi oi-circle-check" mb-3"></h4>
<br />
<h4 class="text_color oi oi-circle-x" mb-3"></h4>
<br />
<h4 class="text_color oi oi-clipboard" mb-3"></h4>
<br />
<h4 class="text_color oi oi-clock" mb-3"></h4>
<br />
<h4 class="text_color oi oi-cloud" mb-3"></h4>
<br />
<h4 class="text_color oi oi-cloud-download" mb-3"></h4>
<br />
<h4 class="text_color oi oi-cloud-upload" mb-3"></h4>
<br />
<h4 class="text_color oi oi-cloudy" mb-3"></h4>
<br />
<h4 class="text_color oi oi-code" mb-3"></h4>
<br />
<h4 class="text_color oi oi-cog" mb-3"></h4>
<br />
<h4 class="text_color oi oi-collapse-down" mb-3"></h4>
<br />
<h4 class="text_color oi oi-collapse-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-collapse-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-collapse-up" mb-3"></h4>
<br />
<h4 class="text_color oi oi-command" mb-3"></h4>
<br />
<h4 class="text_color oi oi-comment-square" mb-3"></h4>
<br />
<h4 class="text_color oi oi-compass" mb-3"></h4>
<br />
<h4 class="text_color oi oi-contrast" mb-3"></h4>
<br />
<h4 class="text_color oi oi-copywriting" mb-3"></h4>
<br />
<h4 class="text_color oi oi-credit-card" mb-3"></h4>
<br />
<h4 class="text_color oi oi-crop" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>D</h2>
<br />
<h4 class="text_color oi oi-dashboard" mb-3"></h4>
<br />
<h4 class="text_color oi oi-data-transfer-download" mb-3"></h4>
<br />
<h4 class="text_color oi oi-data-transfer-upload" mb-3"></h4>
<br />
<h4 class="text_color oi oi-delete" mb-3"></h4>
<br />
<h4 class="text_color oi oi-dial" mb-3"></h4>
<br />
<h4 class="text_color oi oi-document" mb-3"></h4>
<br />
<h4 class="text_color oi oi-dollar" mb-3"></h4>
<br />
<h4 class="text_color oi oi-double-quote-sans-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-double-quote-sans-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-double-quote-serif-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-double-quote-serif-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-droplet" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>E</h2>
<br />
<h4 class="text_color oi oi-eject" mb-3"></h4>
<br />
<h4 class="text_color oi oi-elevator" mb-3"></h4>
<br />
<h4 class="text_color oi oi-ellipses" mb-3"></h4>
<br />
<h4 class="text_color oi oi-envelope-closed" mb-3"></h4>
<br />
<h4 class="text_color oi oi-envelope-open" mb-3"></h4>
<br />
<h4 class="text_color oi oi-euro" mb-3"></h4>
<br />
<h4 class="text_color oi oi-excerpt" mb-3"></h4>
<br />
<h4 class="text_color oi oi-expand-down" mb-3"></h4>
<br />
<h4 class="text_color oi oi-expand-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-expand-right" mb-3"></h4>
<br />
<h4 class="text_color oi oi-expand-up" mb-3"></h4>
<br />
<h4 class="text_color oi oi-external-link" mb-3"></h4>
<br />
<h4 class="text_color oi oi-eye" mb-3"></h4>
<br />
<h4 class="text_color oi oi-eyedropper" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>F</h2>
<br />
<h4 class="text_color oi oi-file" mb-3"></h4>
<br />
<h4 class="text_color oi oi-fire" mb-3"></h4>
<br />
<h4 class="text_color oi oi-flag" mb-3"></h4>
<br />
<h4 class="text_color oi oi-flash" mb-3"></h4>
<br />
<h4 class="text_color oi oi-flip-horizontal" mb-3"></h4>
<br />
<h4 class="text_color oi oi-flip-horizontal-vertical" mb-3"></h4>
<br />
<h4 class="text_color oi oi-flip-vertical" mb-3"></h4>
<br />
<h4 class="text_color oi oi-folder" mb-3"></h4>
<br />
<h4 class="text_color oi oi-fork" mb-3"></h4>
<br />
<h4 class="text_color oi oi-fullscreen-enter" mb-3"></h4>
<br />
<h4 class="text_color oi oi-fullscreen-exit" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>G</h2>
<br />
<h4 class="text_color oi oi-globe" mb-3"></h4>
<br />
<h4 class="text_color oi oi-graph" mb-3"></h4>
<br />
<h4 class="text_color oi oi-grid-four-up" mb-3"></h4>
<br />
<h4 class="text_color oi oi-grid-three-up" mb-3"></h4>
<br />
<h4 class="text_color oi oi-grid-two-up" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>H</h2>
<br />
<h4 class="text_color oi oi-hard-drive" mb-3"></h4>
<br />
<h4 class="text_color oi oi-header" mb-3"></h4>
<br />
<h4 class="text_color oi oi-headphones" mb-3"></h4>
<br />
<h4 class="text_color oi oi-heart" mb-3"></h4>
<br />
<h4 class="text_color oi oi-home" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>I</h2>
<br />
<h4 class="text_color oi oi-image" mb-3"></h4>
<br />
<h4 class="text_color oi oi-inbox" mb-3"></h4>
<br />
<h4 class="text_color oi oi-infinity" mb-3"></h4>
<br />
<h4 class="text_color oi oi-info" mb-3"></h4>
<br />
<h4 class="text_color oi oi-italic" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>J</h2>
<br />
<h4 class="text_color oi oi-justify-center" mb-3"></h4>
<br />
<h4 class="text_color oi oi-justify-left" mb-3"></h4>
<br />
<h4 class="text_color oi oi-justify-right" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>K</h2>
<br />
<h4 class="text_color oi oi-key" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>L</h2>
<br />
<h4 class="text_color oi oi-laptop" mb-3"></h4>
<br />
<h4 class="text_color oi oi-layers" mb-3"></h4>
<br />
<h4 class="text_color oi oi-lightbulb" mb-3"></h4>
<br />
<h4 class="text_color oi oi-link-broken" mb-3"></h4>
<br />
<h4 class="text_color oi oi-link-intact" mb-3"></h4>
<br />
<h4 class="text_color oi oi-list" mb-3"></h4>
<br />
<h4 class="text_color oi oi-list-rich" mb-3"></h4>
<br />
<h4 class="text_color oi oi-location" mb-3"></h4>
<br />
<h4 class="text_color oi oi-lock-locked" mb-3"></h4>
<br />
<h4 class="text_color oi oi-lock-unlocked" mb-3"></h4>
<br />
<h4 class="text_color oi oi-loop" mb-3"></h4>
<br />
<h4 class="text_color oi oi-loop-circular" mb-3"></h4>
<br />
<h4 class="text_color oi oi-loop-square" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>M</h2>
<br />
<h4 class="text_color oi oi-magnifying-glass" mb-3"></h4>
<br />
<h4 class="text_color oi oi-map" mb-3"></h4>
<br />
<h4 class="text_color oi oi-map-marker" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-pause" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-play" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-record" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-skip-backward" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-skip-forward" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-step-backward" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-step-forward" mb-3"></h4>
<br />
<h4 class="text_color oi oi-media-stop" mb-3"></h4>
<br />
<h4 class="text_color oi oi-medical-cross" mb-3"></h4>
<br />
<h4 class="text_color oi oi-menu" mb-3"></h4>
<br />
<h4 class="text_color oi oi-microphone" mb-3"></h4>
<br />
<h4 class="text_color oi oi-minus" mb-3"></h4>
<br />
<h4 class="text_color oi oi-monitor" mb-3"></h4>
<br />
<h4 class="text_color oi oi-moon" mb-3"></h4>
<br />
<h4 class="text_color oi oi-move" mb-3"></h4>
<br />
<h4 class="text_color oi oi-musical-note" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>P</h2>
<br />
<h4 class="text_color oi oi-paperclip" mb-3"></h4>
<br />
<h4 class="text_color oi oi-pencil" mb-3"></h4>
<br />
<h4 class="text_color oi oi-people" mb-3"></h4>
<br />
<h4 class="text_color oi oi-person" mb-3"></h4>
<br />
<h4 class="text_color oi oi-phone" mb-3"></h4>
<br />
<h4 class="text_color oi oi-pie-chart" mb-3"></h4>
<br />
<h4 class="text_color oi oi-pin" mb-3"></h4>
<br />
<h4 class="text_color oi oi-play-circle" mb-3"></h4>
<br />
<h4 class="text_color oi oi-plus" mb-3"></h4>
<br />
<h4 class="text_color oi oi-power-standby" mb-3"></h4>
<br />
<h4 class="text_color oi oi-print" mb-3"></h4>
<br />
<h4 class="text_color oi oi-project" mb-3"></h4>
<br />
<h4 class="text_color oi oi-pulse" mb-3"></h4>
<br />
<h4 class="text_color oi oi-puzzle-piece" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>Q</h2>
<br />
<h4 class="text_color oi oi-question-mark" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>R</h2>
<br />
<h4 class="text_color oi oi-rain" mb-3"></h4>
<br />
<h4 class="text_color oi oi-random" mb-3"></h4>
<br />
<h4 class="text_color oi oi-reload" mb-3"></h4>
<br />
<h4 class="text_color oi oi-resize-both" mb-3"></h4>
<br />
<h4 class="text_color oi oi-resize-height" mb-3"></h4>
<br />
<h4 class="text_color oi oi-resize-width" mb-3"></h4>
<br />
<h4 class="text_color oi oi-rss" mb-3"></h4>
<br />
<h4 class="text_color oi oi-rss-alt" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>S</h2>
<br />
<h4 class="text_color oi oi-script" mb-3"></h4>
<br />
<h4 class="text_color oi oi-share" mb-3"></h4>
<br />
<h4 class="text_color oi oi-share-boxed" mb-3"></h4>
<br />
<h4 class="text_color oi oi-shield" mb-3"></h4>
<br />
<h4 class="text_color oi oi-signal" mb-3"></h4>
<br />
<h4 class="text_color oi oi-signpost" mb-3"></h4>
<br />
<h4 class="text_color oi oi-sort-ascending" mb-3"></h4>
<br />
<h4 class="text_color oi oi-sort-descending" mb-3"></h4>
<br />
<h4 class="text_color oi oi-spreadsheet" mb-3"></h4>
<br />
<h4 class="text_color oi oi-star" mb-3"></h4>
<br />
<h4 class="text_color oi oi-sun" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>T</h2>
<br />
<h4 class="text_color oi oi-tablet" mb-3"></h4>
<br />
<h4 class="text_color oi oi-tag" mb-3"></h4>
<br />
<h4 class="text_color oi oi-tags" mb-3"></h4>
<br />
<h4 class="text_color oi oi-target" mb-3"></h4>
<br />
<h4 class="text_color oi oi-task" mb-3"></h4>
<br />
<h4 class="text_color oi oi-terminal" mb-3"></h4>
<br />
<h4 class="text_color oi oi-text" mb-3"></h4>
<br />
<h4 class="text_color oi oi-thumb-down" mb-3"></h4>
<br />
<h4 class="text_color oi oi-thumb-up" mb-3"></h4>
<br />
<h4 class="text_color oi oi-timer" mb-3"></h4>
<br />
<h4 class="text_color oi oi-transfer" mb-3"></h4>
<br />
<h4 class="text_color oi oi-trash" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>U</h2>
<br />
<h4 class="text_color oi oi-underline" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>V</h2>
<br />
<h4 class="text_color oi oi-vertical-align-bottom" mb-3"></h4>
<br />
<h4 class="text_color oi oi-vertical-align-center" mb-3"></h4>
<br />
<h4 class="text_color oi oi-vertical-align-top" mb-3"></h4>
<br />
<h4 class="text_color oi oi-video" mb-3"></h4>
<br />
<h4 class="text_color oi oi-volume-high" mb-3"></h4>
<br />
<h4 class="text_color oi oi-volume-low" mb-3"></h4>
<br />
<h4 class="text_color oi oi-volume-off" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>W</h2>
<br />
<h4 class="text_color oi oi-warning" mb-3"></h4>
<br />
<h4 class="text_color oi oi-wifi" mb-3"></h4>
<br />
<h4 class="text_color oi oi-wrench" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>X</h2>
<br />
<h4 class="text_color oi oi-x" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>Y</h2>
<br />
<h4 class="text_color oi oi-yen" mb-3"></h4>
<br />
<br />
<br />
<br />


<h2>Z</h2>
<br />
<h4 class="text_color oi oi-zoom-in" mb-3"></h4>
<br />
<h4 class="text_color oi oi-zoom-out" mb-3"></h4>*@






<div class="container_first">
    <div class="row">
        <div class="important_name">
            <h2 class="text_color tema_font"><i>Содержание птиц:&nbsp; разведение, кормление, лайфхаки</i></h2>
        </div>
    </div>
</div>
<div class="main_container">
    <div class="container">
        <div class="row">
            <div>
                <p>
                    <big>В этом разделе собраны все статьи о содержании в домашнем хозяйстве кур, гусей, перепелов, индюков, уток и цесарок.</big><br />
                    <b>Хотите подсчитать рентабельность содержания понравившейся вам породы птицы?</b> Тогда переходите в раздел
                    <a href="culc"><i>"Все калькуляторы пород"</i></a>, там вы найдете основную информацию по выбранной породе и калькулятор рентабельности
                    содержания.
                </p>
            </div>
        </div>
    </div>


    <br />

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="htema2"><img class="img-fluid tema_interes_img" src="/img/hens/hen188.jpg" /><h5 class="tema_name">Бройлеры. Почему у одних эти птицы растут как на дрожжах, а у других сплошное разочарование.</h5></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="hqtema1"><img class="img-fluid tema_interes_img" src="/img/hens/hen194.jpg" /><h5 class="tema_name">Куры или перепела? Важные советы, о которых забывают. А зря!</h5></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="qtema2"><img class="img-fluid tema_interes_img" src="/img/quails/quails692.jpg" /><h5 class="tema_name">Драка в клетке. Никогда не жалейте агрессивную птицу!</h5></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="qtema1"><img class="img-fluid tema_interes_img" src="/img/quails/quails291.jpg" /><h5 class="tema_name">Перепела в квартире. Какую породу выбрать?</h5></a>
                </div>
            </div>
        </div>



        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="aboutquails"><img class="img-fluid tema_interes_img" src="/img/quails/quails923.jpg" /><h5 class="tema_name">Содержание перепелов. Самое основное, что нужно знать.</h5></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="htema3"><img class="img-fluid tema_interes_img" src="/img/hens/hen217.jpg" /><h5 class="tema_name">Как купить хорошую молодую несушку и не стать жертвой недобросовестных продавцов.</h5></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="qtema3"><img class="img-fluid tema_interes_img" src="/img/quails/quails231.jpg" /><h5 class="tema_name">Осторожно, цыплячьи пальчики!</h5></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="plumage"><img class="img-fluid tema_interes_img" src="/img/coll/coll0.jpeg" /><h5 class="tema_name">Не выбрасывайте перья от своих птиц! Это ваш дополнительных доход.</h5></a>
                </div>
            </div>
        </div>



        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="htema4"><img class="img-fluid tema_interes_img" src="/img/hens/hen195.jpg" /><h5 class="tema_name">Бройлеры КОББ-500. Вся правда о породе.</h5></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tema_interes">
                    <a href="qtema4"><img class="img-fluid tema_interes_img" src="/img/quails/quails684.jpg" /><h5 class="tema_name">Перепелам в городских квартирах — быть! Просто. Чисто. Сытно. Весело и интересно.</h5></a>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
</div>
