@page "/profile"

<div class="main_container_0">
    <div class="row">
        <div class="m-5">
            <h2>Профиль</h2>

            @code {
            }
            <br /><br /><br />
        </div>
    </div>
</div>
