@page "/hen1"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="culc" class="text_rub"><i>>> Все калькуляторы пород</i></a>
            <a href="hen1" class="text_rub"><i>>> Куры породы Леггорн</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Куры породы Леггорн</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/hens/hen287.jpg" />
    </div>
    <br />
        
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Леггорн - самая популярная порода кур не только в нашей стране, но и по всему миру. Повсеместное признание среди
                    птицеводов эти куры заслужили благодаря своей непревзойденной яйценоскости, отменному здоровью и способности
                    легко адаптироваться как к жаркому климату, так и к холодному.
                    <br /><br />
                    Леггорны берут свои корни из Италии. В XIX веке они активно завозились в США, где кур скрещивали с другими породами.
                    В результате успешной селекции, леггорны превратились в превосходную продуктивную птицу, яйценоскость которой
                    стала эталоном для других яичных пород кур.<br />
                </p>
            </div>
        </div>



        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Как и другие яичные породы, леггорны имеют небольшой вес. Курочки весят 1,5 - 2 кг, а петушки от 2,2 до 2,5 кг.
                            Несмотря на свои небольшие размеры, яйца у леггорнов достаточно крупные. Несушки дают яйца каждый
                            день, а при хороших условиях содержания, время от времени способны давать по 2 яйца в день.
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <br />
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/hens/hen725.jpg" />
        </div>


        <br />
        <div class="row">
            <div>
                <p>
                    Наиболее популярны леггорны с белым оперением. Гребень у этих птиц ярко-красный, листовидной формы, достаточно крупный.
                    У петухов он прямостоячий, а у кур заваливается набок. Голова средняя, шея длинная, тело клинообразное с широкой
                    грудью.
                    <br /><br />

                    Леггорны активные, но пугливые птицы. При несоблюдении норм содержания могут становиться агрессивными друг к другу.
                    Как правило причиной становится регулярный стресс, шум, слишком яркое освещение.
                    <br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Леггорны начинают нестись с 4,5 месяцев. Яйца белого цвета. В течение первого года яйценоскость кур достигает 300 яиц,
                            средний вес - 60 гр. При промышленном содержании леггорнов заменяют в 1-1,5 года, т.к. птица очень
                            быстро истощается. В домашних хозяйствах продуктивность кур старше 1 года начинает снижаться, но
                            незначительно, поэтому большинство владельцев держат леггорнов до 2-х и даже 3-х лет.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Куры этой породы востребованы для получения яиц в промышленных масштабах. Они прекрасно несутся при
                    клеточном содержании. На птицефабриках от одной несушки получают от 300 до 330 яиц в год.<br /><br />
                    Петухи леггорнов очень активны. При содержании 1 петуха на 15 несушек оплодотворенность яиц составляет 95%. Куры
                    полностью утратили инстинкт насиживания, поэтому для получения потомства придется использовать инкубатор. Выводимость
                    птенцов замечательная. Как правило все малыши обладают отменным здоровьем. Врожденные дефекты встречаются редко,
                    выживаемость птенцов достигает 93%.
                    <br /><br />
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row pict_img2">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/hens/hen956.jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/hens/hen834.jpg" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="container">
        <div class="row">
            <div class="important_name">
                <h6 class="text_color"><b><i>Для подсчета рентабельности содержания леггорнов воспользуйтесь нашим калькулятором!</i></b></h6>
            </div>
            <br />
        </div>
    </div>
    <div class="container culc_border">
        <div class="row justify-content-center">
            <div class="img_eggs mt-2">
                <div class="anime2 eggs"></div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>