@page "/hen2"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="culc" class="text_rub"><i>>> Все калькуляторы пород</i></a>
            <a href="hen2" class="text_rub"><i>>> Кучинская юбилейная порода кур</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Кучинская юбилейная порода кур</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/hens/hen846.jpg" />
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div>
                <p>
                    Кучинская юбилейная - порода кур мясо-яичного направления, - результат селекции советских птицеводов. Эта порода
                    прекрасно приспособлена к российскому климату. Куры неприхотливы, имеют спокойный характер, хорошо несут яйца и
                    набирают вес. Мясо обладает отменными вкусовыми качествами.
                    <br /><br />
                    Кучинские куры очень нарядные. Оперение рыжее самых разных оттенков, хвост черный. Голова средних размеров, туловище
                    треугольной формы, грудь широкая, круглая.
                </p>
            </div>
        </div>



        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            В среднем несушка дает от 200 до 220 яиц в год, весом около 57 гр, светло-коричневого цвета.
                            Уже в 3,5 месяца птицу можно забивать. Вес потрошеной тушки к этому моменту достигает 1,5кг.
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <br />


        <br />
        <div class="row">
            <div>
                <p>
                    В возрасте 4,5 месяцев кучинки начинают радовать своих владельцев первыми яйцами. Сначала яйца могут быть мелкие,
                    но постепенно их вес приходит в норму. Если кур не перекармливать (а кучинки имеют сильную предрасположенность к
                    ожирению), то нестись они будут регулярно и летом, и зимой.
                    <br /><br />
                    Куры этой породы достаточно крупные. Вес взрослых петушков может достигать 4 кг, а у кур около 3 кг. Такой вес делает
                    кучинок неуклюжими. Они плохо летают. Более того, в качестве насестов им не подходят обычные жерди, располагаемые в
                    курятнике. С таких насестов куры могут упасть и травмироваться. Вместо жердей опытные владельцы сооружают невысокие
                    полочки, на которых курам удобно сидеть.
                    <br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Кучинские куры любят подвигаться. Поэтому, чтобы птички хорошо себя чувствовали, владельцу следует организовать
                            выгульный дворик.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Семьи формируют из расчета 1 петух на 10 кур. Брать яйца для разведения следует у птиц старше 8 месяцев и до 1,5 лет.
                    Из кур кучинской породы получаются превосходные наседки. Квочки отлично сидят на яйцах и справляются с большим
                    количеством птенцов - как родных, так и приёмных. Одной квочке можно доверить 20-25 яиц.<br /><br />
                    Цыплят легко разделить на петушков и курочек сразу после вылупления. У петушков пух на крылышках более светлый,
                    чем у курочек. <br />
                    С самого рождения у этих птиц крепкий иммунитет. Падёж среди птенцов минимальный.
                    <br /><br />
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row pict_img2">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/hens/hen922.jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/hens/hen552.jpg" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="container">
        <div class="row">
            <div class="important_name">
                <h6 class="text_color"><b><i>Для подсчета рентабельности содержания кучинской юбилейной породы воспользуйтесь нашим калькулятором!</i></b></h6>
            </div>
            <br />
        </div>
    </div>
    <div class="container culc_border">
        <div class="row justify-content-center">
            <div class="img_eggs mt-2">
                <div class="anime2 eggs"></div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>