@page "/hen3"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="culc" class="text_rub"><i>>> Все калькуляторы пород</i></a>
            <a href="hen3" class="text_rub"><i>>> Бройлер КОББ-500</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Бройлер КОББ-500</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/hens/hen174.jpg" />
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div>
                <p>
                    Бройлеры КОББ-500 заслуженно пользуются большой популярностью как на крупных птицеводческих предприятиях, так и
                    в небольших фермерских хозяйствах. Выращивание КОББ-500 очень выгодно. Эти птицы обладают феноменальной способностью
                    к быстрому росту. При этом бройлеры потребляют минимальное количество корма из расчета на 1 кг веса птицы.
                    <br /><br />
                    Однако, содержание этих бройлеров требует знания многих тонкостей. <b>
                        Новичкам без опыта бывает сложно учесть все требования
                        к содержанию и, как результат, птицы гибнут или плохо набирают вес.
                    </b><br /><br />

                    КОББ-500 - это кросс нескольких пород кур мясного направления и бойцовских пород. Среди них: Корнуэльская порода,
                    Плимутрок, Род-Айленд, Кучинская юбилейная и др. <b>
                        Как и прочие кроссы, КОББ-500 не передаёт потомству свои
                        продуктивные качества.
                    </b> Чтобы получить яйца этого кросса, необходима ответственная селекционная работа, которую в
                    небольших хозяйствах вести крайне сложно. По этой причине закупать яйца бройлеров следует на крупных птицефабриках,
                    где соблюдаются все стандарты получения кросса, либо в проверенных хозяйствах, которые успели хорошо себя зарекомендовать.
                </p>
            </div>
        </div>
        <br />


        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Успех в выращивании бройлеров на 50% зависит от правильной селекции в том хозяйстве, где закупались
                            инкубационные яйца.
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <br />
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/hens/hen100.jpg" />
        </div>
        <br />


        <br /><br />
        <h3><span class="text_color2"><b>Основные характеристики породы</b></span></h3>
        <div class="row">
            <div>
                <p>
                    Внешне бройлер КОББ-500 представляет из себя очень массивную птицу.
                    Спина и грудь широкие. Лапы крепкие и мощные. Оперение белое, гребень и
                    сережки ярко красного цвета. Тушки кур этой породы имеют приятный товарный вид. Желтоватый цвет кожи,
                    который характерен для КОББ-500, пользуется огромным спросом у покупателей.<br /><br />
                    <b>При правильном содержании КОББ-500 уже к 40-му дню достигают 2,5 кг. А в 2 месяца их вес может достигать 3,5 кг.</b>
                    Петушки весят чуть больше курочек. При раздельном откорме петушков и курочек удается добиться лучших результатов,
                    чем при совместном содержании.
                </p>
            </div>
        </div>


        <br /><br />
        <h3><span class="text_color2"><b>Содержание и уход</b></span></h3>
        <div class="row">
            <div>
                <p>
                    Для этих бройлеров подойдет как клеточное содержание, так и напольное. <b>
                        Содержать бройлеров совместно с курами
                        других пород не рекомендуется:
                    </b> во-первых, потому что бройлерам нужно ограничивать свободу движения, не позволяя
                    активно бегать вместе с прочими курами, а во-вторых, потому что бройлеры имеют очень флегматичный характер и,
                    несмотря на свою силу и внушительные размеры, зачастую становятся жертвами агрессивного поведения более
                    активных кур.<br /><br />

                    Оптимальная плотность содержания бройлеров составляет от 20 до 25 голов на 1кв.м. Помещение, в котором содержатся птицы, должно быть
                    обязательно сухим, теплым, хорошо вентилируемым и без сквозняков. Температуру поддерживают не ниже 15 градусов.
                </p>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            КОББ-500 имеют склонность к различным заболеваниям,
                            поэтому при совместном содержании большого поголовья птиц, их обязательно пропаивают антибиотиками. В небольших хозяйствах
                            владельцы часто не хотят травить своих птиц лекарствами. Если кур немного, а в птичнике всегда поддерживаются
                            чистота и своевременная дезинфекция, то это оправдано.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br /><br />

        <h3><span class="text_color2"><b>Кормление</b></span></h3>
        <div class="row">
            <div>
                <p>
                    Основу рациона КОББ-500 должен составлять комбикорм. Самым маленьким цыплятам дают комбикорм "Старт", затем
                    используют специальный комбикорм для откорма бройлеров. За 2 недели до убоя кормят комбикормом "Финиш".
                    <b>
                        При наличии опыта в содержании кур, можно разнообразить рацион птиц мешанками. Это позволит не только немного
                        сэкономить на специализированном корме, но и поспособствует лучшему набору веса.
                    </b>
                    <br /><br /><br />
                    Содержание КОББ-500 не такое уж и хлопотное занятие. Главное - приобрести здоровых цыплят в проверенном хозяйстве
                    и не забывать простых, но очень важных требований в уходе за бройлерами. И тогда ваши птички обязательно будут
                    радовать вас хорошими привесами.
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row pict_img2">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/hens/hen105.jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/hens/hen101.jpg" />
            </div>
        </div>
    </div>
    <br />
    <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
    <br />
    <br />
    <br />
    <br />


    <div class="container">
        <div class="row">
            <div class="important_name">
                <h6 class="text_color"><b><i>Для подсчета рентабельности содержания породы КОББ-500 воспользуйтесь нашим калькулятором!</i></b></h6>
            </div>
            <br />
        </div>
    </div>
    <div class="container culc_border">
        <div class="row justify-content-center">
            <div class="img_eggs mt-2">
                <div class="anime2 eggs"></div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>