@page "/htema3"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="/" class="text_rub"><i>>> Все интересные статьи</i></a>
            <a href="htema3" class="text_rub"><i>>> Как купить хорошую молодую несушку и не стать жертвой недобросовестных продавцов.</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Как купить хорошую молодую несушку и не стать жертвой недобросовестных продавцов.</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/hens/hen217.jpg" />
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div>
                <p>
                    Если вам предстоит покупка молодых несушек для своего хозяйства, но при этом не хочется пасть жертвой
                    недобросовестного продавца, то разобраться во всех подводных камнях, которые могут повстречаться на пути,
                    вам просто необходимо!
                    <br />
                </p>
            </div>
        </div>


        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            На самом деле всё не так уж и сложно, как может поначалу казаться. Главное не лениться тщательно осматривать
                            птичек перед покупкой, и спрашивать у продавца всё, что вас настораживает.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div>
                <p>
                    <b>
                        Перед покупкой птицы следует тщательно изучить, что из себя представляют куры
                        той породы, которую вы намереваетесь приобретать.
                    </b> Это нужно хотя бы для того, чтобы под видом породистой птички,
                    вам не продали что-то совершенно не то. Цвет оперения, форма тела, вес птицы, форма и размер гребешка и сережек, -
                    всё имеет значение.
                    <br /><br />
                    Но, допустим, вы уже прекрасно знаете, какой должна быть курица той породы, которую планируете брать. Поэтому перейдем
                    к основным критериям, которые помогут выбрать хорошую несушку.<br /><br />
                </p>
            </div>
        </div>

        <br />
        <h3><span class="text_color2"><b>1. Первое впечатление от птицы и ее продавца.</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Для начала птица вам просто должна понравиться визуально. Она должна быть чистой, активной, перья аккуратными и
                    гладкими, а глаза живыми и блестящими.<br /><br />
                    Продавец, в свою очередь, вам тоже должен понравиться тем, что охотно и грамотно дает всю информацию о птице.
                    А если вы сами спросите у него о возрасте птички, то продавец без проблем не только расскажет, но и покажет на
                    примере выбранной вами несушки, как должна выглядеть молодая курочка. Вам же останется только сравнить, насколько
                    его слова соответствуют реальности.<br /><br />
                </p>
            </div>
        </div>

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/hens/hen221.jpg" />
        </div>
        <br /><br />

        <h3><span class="text_color2"><b>2. Умение отличить молодую несушку от старой.</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Это важно уметь! Потому что старая несушка большим количеством яиц вас точно не порадует. Или вообще не будет нестись.
                    <br /><br />
                    <b>Гребешок, сережки, мочки -</b> у молодых кур они яркие, но с возрастом начинают тускнеть.<br />
                    <b>Глаза -</b> чистые, живые и блестящие.<br />
                    <b>Клюв -</b> у молодых он гладкий, мощный, желтого цвета, без дефектов. У старых кур клюв приобретает сероватый
                    оттенок, становится сухим и шероховатым, появляются небольшие трещинки.<br />
                    <b>Ноги -</b> у молодых кур кожа на ногах гладкая. У возрастных отмечается шелушение кожи ног, натоптыши.<br />
                    <b>Оперение -</b> перья не должны быть потускневшими и взъерошенными. Это может указывать не только на возраст птицы,
                    но и на какие-то заболевания.<br />
                    <b>Вес -</b> если вес выше стандартной нормы для молодых несушек выбранной породы, то это должно насторожить. С
                    возрастом куры прибавляют в весе.<br /><br />
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row pict_img2">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-fluid img-thumbnail" src="/img/hens/hen292.jpg" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-fluid img-thumbnail" src="/img/hens/hen234.jpg" />
                </div>
            </div>
        </div>
        <br /><br />


        <h3><span class="text_color2"><b>3. Несется курица или нет?</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Определить, несется курится или нет, можно <b>по лонным костям.</b> Если между ними помещается 2-3 пальца, значит курица
                    несется. Если 1-2 пальца, значит она не несется, либо еще просто слишком молодая. Кроме того, можно прощупать брюшко.
                    У несущихся курочек оно мягкое. А если курица не несется, то живот жесткий.<br /><br />
                    Не забывайте эти три простых совета, и вам будет гораздо проще сориентироваться при покупке хорошей несушки!<br /><br />
                </p>
            </div>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/hens/hen272.jpg" />
        </div>
        <br />
        <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
        <br />
        <br />
        <br />
    </div>
</div>
