@page "/aboutquails"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="culc" class="text_rub"><i>>> Все калькуляторы пород</i></a>
            <a href="aboutquails" class="text_rub"><i>>> Содержание перепелов</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Содержание перепелов</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails923.jpg" />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Если вы хотите каждый день баловать себя и свою семью прекрасными диетическими продуктами - перепелиными яйцами и мясом, - то
                    завести перепелов в своем домашнем хозяйстве станет отличной идеей, о которой вы никогда не пожалеете.<br /><br />

                    <b><i>Перепела - самый лучший выбор для тех, кто только пробует себя в роли птицевода.</i></b> Ведь для того, чтобы обеспечить перепёлок
                    всем необходимым, не нужно даже строить птичника. Достаточно выделить в своем доме отдельную комнату,
                    оборудовать ее несколькими клетками (которые можно сделать самостоятельно), и всё - вы уже начинающий
                    перепеловод. Не успеете опомниться, и так увлечетесь птичками, что уже через год-другой ваше поголовье увеличится в разы.
                    Перепёлки переедут в выстроенный специально для них птичник, а все ваши соседи и знакомые будут то и дело наведываться в
                    ваше хозяйство, чтобы закупиться новой порцией деликатесного мяса и яиц.<br /><br />

                    Однако, как и любым другим птицам, перепелам нужно создать все необходимые условия для счастливой жизни.
                    <b><i>О том как содержать перепелов читайте в нашей статье!</i></b>
                    <br />
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />




    @*_______________________________Меню к разделу________________________________*@
    @*<div class="container">
            <div class="row about_bkgr">
                <h5 class="text_color mb-3"><b>Содержание:</b></h5>
                <ul class="nav flex-column ml-2 mt-2">
                    <li class="about px-3">
                        <NavLink class="nav-link" href="#room">
                            <span class="oi oi-plus" aria-hidden="true"></span> &nbsp;&nbsp; Требования к помещению
                        </NavLink>
                    </li>
                    <li class="about px-3">
                        <NavLink class="nav-link" href="#cage">
                            <span class="oi oi-plus" aria-hidden="true"></span> &nbsp;&nbsp; Клетки
                        </NavLink>
                    </li>
                    <li class="about px-3">
                        <NavLink class="nav-link" href="#reproduction">
                            <span class="oi oi-plus" aria-hidden="true"></span> &nbsp;&nbsp; Разведение перепелов
                        </NavLink>
                    </li>
                    <li class="about px-3">
                        <NavLink class="nav-link" href="#incubator">
                            <span class="oi oi-plus" aria-hidden="true"></span> &nbsp;&nbsp; Инкубация
                        </NavLink>
                    </li>
                    <li class="about px-3">
                        <NavLink class="nav-link" href="#">
                            <span class="oi oi-plus" aria-hidden="true"></span> &nbsp;&nbsp; Содержание птенцов с 1 до 30 дней
                        </NavLink>
                    </li>
                    <li class="about px-3">
                        <NavLink class="nav-link" href="#">
                            <span class="oi oi-plus" aria-hidden="true"></span> &nbsp;&nbsp; Кормление птенцов и взрослых перепелов
                        </NavLink>
                    </li>
                    <li class="about px-3">
                        <NavLink class="nav-link" href="#">
                            <span class="oi oi-plus" aria-hidden="true"></span> &nbsp;&nbsp; Болезни перепелов
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
        <br />*@


    <br />
    <br />
    <br />








    <div class="container">
        <div class="row">
            <div class="important_name">
                <h2 class="text_color"><b><i>Требования к помещению</i></b></h2>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Перепелов можно содержать практически в любом помещении, если оно соответствует ряду требований. Первое и самое главное -
                    это должно быть <b>место без сквозняков и сырости.</b> В противном случае перепела будут болеть.<br /><br />
                    Также очень важно <b>обеспечить птиц хорошей вентиляцией.</b> Оптимальная влажность в перепелятнике
                    около 50%. <br /><br />Помещение должно быть теплое, но не жаркое. <b>Приемлемая температура от 18 до 25 градусов.</b> Обратите внимание, что
                    при использовании клеток с закрытыми боковыми стенками и потолком, температуру желательно поддерживать не выше
                    20 градусов. Дело в том, что перепела имеют высокую температуру тела и нагревают пространство вокруг себя. Если птицы в клетке
                    содержатся достаточно скученно, то температура внутри клетки закрытого типа может сильно повышаться.<br />
                    Однако ниже 18 градусов температура в помещении также не должна опускаться.<br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Если есть возможность поддерживать необходимый климат в помещении, то совершенно неважно, какое это
                            помещение - специально построенный птичник, сарай, комната в вашем доме или застекленный балкон в городской квартире, -
                            перепелам везде будет комфортно.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Большое значение для комфортного проживания перепелов играет освещение. Для поддержания максимальной яйценоскости, и в тоже
                    время, чтобы птицы не истощились, <b>световой день должен составлять не менее 17 часов.</b> В зимнее время, для увеличения
                    светого дня, птицам включают искуственное освещение.<br /><br />

                    Содержать перепелов при ярком свете - большая ошибка. В природе эти птицы живут в тени высокой травы, а яркий свет
                    вызывает у них стресс и агрессивное поведение. Чтобы этого не допустить, <b>
                        в помещении с перепелами достаточно иметь одну
                        тусклую лампочку.
                    </b>
                    <br /><br />
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />

















    <div class="container">
        <div class="row">
            <div class="important_name">
                <h2 class="text_color"><a name="cage"><i><b>Клетки</b></i></a></h2>
            </div>
        </div>
    </div>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails623.jpg" />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Клетки для перепелов делают 2-х типов: <b>открытые</b> - все 4 стенки и потолок из сетки, и <b>закрытые</b> - 3 стенки и
                    потолок делаются закрытыми, а одна стенка с дверцей из сетки.<br /><br />
                    <b>Закрытый тип клеток предпочтительно выбирать, если птиц планируется содержать в жилом доме или квартире.</b> Такие клетки
                    хорошо защищают от пыли и мусора, и сильно облегчают уборку. У клеток закрытого типа в боковых глухих стенках нужно предусмотреть
                    отверстия для вентиляции<br /><br />

                    Важно помнить, что если перепела будут содержаться в жилом доме, то выбирать нужно металлические клетки. Если же это дерево,
                    то оно должно быть прокрашено и легко мыться, т.к. помет от птиц может попадать на стенки. Отчистить помет с деревянных стенок
                    очень сложно, а запах впитается в древесину и вывести его будет практически невозможно.<br />
                    <b>В качестве пола используют решетку. Размер ячеек пола 1 х 1 см, или 1 х 2 см.</b> Чтобы яйца скатывались в яйцесборник, пол делают с
                    небольшим наклоном.<br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Прежде чем оборудовать помещение клетками, следует определиться с породой перепелов, которых будете разводить. Мясо-яичные
                            и мясные породы нужно содержать в клетках с разной высотой потолка. Для мясо-яичних пород подбирают клетки с
                            высотой потолка 20 см. Мясные породы содержат в клетках высотой 27-30 см. Высота отсчитывается не от основания
                            клетки, а от внутреннего пола, по которому ходят птицы.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Перепела едят очень неаккуратно. Чтобы минимизировать расход корма, <b>кормушку располагают снаружи клетки.</b> Поилку также
                    целесообразно вешать снаружи. Наиболее гигиенично использовать <b>ниппельные поилки.</b>
                    <br /><br />
                    Поддон обязательно должен быть либо металлический, либо пластиковый. Фанера не годится, т.к. она впитывает в себя
                    влагу из помета, что приводит к появлению запаха в птичнике. Поверх поддона насыпают опилки или кладут листы
                    газеты в 2-3 слоя.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />















    <div class="container">
        <div class="row">
            <div class="important_name">
                <h2 class="text_color"><a name="reproduction"><i><b>Разведение перепелов</b></i></a></h2>
            </div>
        </div>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div>
                <p>
                    Прежде чем приступить к разведению перепелов, следует внимательно отобрать птиц для родительского стада. Первое на что
                    следует обратить внимание: малейшие признаки каких бы то ни было заболеваний, проблемный помет, врожденные дефекты,
                    а также отклонения в поведении. Особи, проявляющие агрессивное поведение по отношению к сородичам, до разведения не
                    допускаются.<br /><br />
                    <b>Эталон племенной перепёлки:</b> телосложение и оперение полностью соответствует стандарту породы. Вес птички средний или чуть
                    больше среднего. Яйценоскость соответствует стандарту породы или выше. Лапы крепкие, кожа здоровая, глаза чистые и блестящие.
                    Помет в норме. Перепёлка активная, имеет хороший аппетит.
                    <br /><br />

                    <b>Родительское стадо селят в отдельную клетку. Плотность посадки должна быть ниже, чем у несушек и перепелов на откорме.</b>
                    Самцы, ухаживая за самками, должны иметь возможность спокойно перемещаться по клетке не мешая друг другу.<br />
                    В зависимости от породы на одного самца сажают от 2-х до 4-х самок.
                    <br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            В качестве родительского стада годятся перепела в возрасте от 2 до 8 месяцев у мясо-яичных пород, и от 2,5 до 6
                            месяцев у мясных пород. С возрастом перепела начинают хуже нести яйца, падает процент оплодотворяемости, а у их птенцов
                            возрастает вероятность появления врожденных дефектов.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Перепела обязательно содержатся в чистоте. Клетку с родительским стадом нужно регулярно дезинфицировать, чтобы
                    не допустить болезней. Корм должен быть качественным и сбалансированным.<br />
                    При соблюдении всех этих несложных правил, можно ожидать здоровое и продуктивное потомство.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />












    <div class="container">
        <div class="row">
            <div class="important_name">
                <h2 class="text_color"><a name="incubator"><i><b>Инкубация</b></i></a></h2>
            </div>
        </div>
    </div>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails113.jpg" />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Перепела полностью утратили инстинкт высиживания яиц. <b>
                        Поэтому, если вы хотите получить от своих перепелов потомство, то
                        придется использовать инкубатор.
                    </b><br />
                    У птицеводов есть определенные критерии отбора инкубационных яиц. Все яйца, которые не соответствуют
                    этим критериям, отбраковываются.<br /><br />

                    <b><i>Критерий №1</i></b><br />
                    Первое, на что нужно обращать внимание - <b>форма яйца</b>. Если форма не стандартная, - более вытянутая или, наоборот,
                    круглая, - то такие яйца не годятся для инкубации.<br /><br />

                    <b><i>Критерий №2</i></b><br />
                    Второй очень важный критерий - <b>вес яйца</b>. Он должен соответствовать стандартному весу яиц той породы перепелов, от которой
                    получено. Также допускается брать в разведение чуть более крупные яйца. Однако, если масса заметно больше обычного, то
                    такие яйца отбраковываются.<br /><br />

                    <b><i>Критерий №3</i></b><br />
                    Кроме того, важно исследовать <b>поверхность скорлупы</b>. Она должна быть без наростов и трещин. Должна присутствовать
                    характерная для перепелиных яиц пигментация.<br /><br />

                    <b><i>Критерий №4</i></b><br />
                    Если яйцо соответствует всем описанным выше критериям, то проводится его <b>овоскопление</b>. Если после этой процедуры
                    не было выявлено каких-то отклонений, то яйцо отбирается для последующей инкубации.

                </p>
            </div>
        </div>

        <br />
        <div class="row tablica_img">
            <div class="pict">
                <img class="img-thumbnail" src="/img/tab_inkub.jpg" />
            </div>
        </div>
        <div class="row tablica">
            <div>
                <h4 align="center">
                    Таблица режимов инкубации перепелиных яиц.
                </h4>
                <table>
                    <tr class="main_tab_color">
                        <th>Период</th>
                        <th>Продолжительность</th>
                        <th>Температура, С</th>
                        <th>Влажность</th>
                        <th>Поворот</th>
                        <th>Охлаждение</th>
                    </tr>
                    <tr class="tab_color">
                        <th class="main_tab_color">1</th>
                        <td>1 день</td>
                        <td>37,7</td>
                        <td>60%</td>
                        <td>без поворота</td>
                        <td>без охлаждения</td>
                    </tr>
                    <tr class="tab_color">
                        <th class="main_tab_color">2</th>
                        <td>2-12 день</td>
                        <td>37,6</td>
                        <td>55%</td>
                        <td>1-2 раза в сутки</td>
                        <td>2 раза в сутки по 5 мин</td>
                    </tr>
                    <tr class="tab_color">
                        <th class="main_tab_color">3</th>
                        <td>13-15 день</td>
                        <td>37,4</td>
                        <td>50%</td>
                        <td>1-2 раза в сутки</td>
                        <td>2 раза в сутки по 10 мин</td>
                    </tr>
                    <tr class="tab_color">
                        <th class="main_tab_color">4</th>
                        <td>16 день</td>
                        <td>37,3</td>
                        <td>65%</td>
                        <td>без поворота</td>
                        <td>без охлаждения </td>
                    </tr>
                    <tr class="tab_color">
                        <th class="main_tab_color">5</th>
                        <td>17-18 день</td>
                        <td>37,2</td>
                        <td>75%</td>
                        <td>без поворота</td>
                        <td>без охлаждения</td>
                    </tr>
                </table>
                <br />
                <br />
                <p>
                    <b>Самый высокий % выводимости наблюдается у тех яиц, которые хранились от 4 до 6 дней перед закладкой в инкубатор.</b>
                    Температура,  необходимая для хранения яиц, <b>12-14 градусов.</b> При хранении яиц дольше 10 дней заметно снижается
                    % выводимости.
                    <br /><br />

                    Перепела начинают появляться на свет на 17-й день. Однако, инкубатор не рекомендуется выключать еще двое суток,
                    чтобы дать шанс запоздавшим птенчикам.<br /><br />

                    После переселения птенцов в брудер нужно удалить из инкубатора всю скорлупу и провести его дезинфекцию.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />











    <div class="container">
        <div class="row">
            <div class="important_name">
                <h2 class="text_color"><a name="incubator"><i><b>Содержание птенцов с 1 до 30 дней</b></i></a></h2>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Перепела начинают вылупляться на 17-й день и в течение суток большинство птенцов появляется на свет. После
                    того как птенчик выбрался из скорлупы, его оставляют в инкубаторе на пару часов, чтобы он обсох. Затем его
                    осматривают на наличие врожденных дефектов. Если с птенцом всё в порядке, то переселяют в брудер.<br /><br />
                    Профессиональный брудер можно заменить коробкой или ящиком. Сверху подвешивается лампа для обогрева птенцов.
                    В качестве подстилки можно положить пелёнку. Использовать газету в первые несколько дней жизни птенцов
                    не рекомендуется, т.к. их неокрепшие лапки могут разъезжаться на гладкой поверхности и в результате
                    неправильно формироваться.
                    <br /><br />
                    <b>Ниже приведена таблица условий содержания, которые нужно обеспечить подрастающим птенцам.</b>
                </p>
                <br />
                <div class="tablica_img">
                    <div class="pict">
                        <img class="img-thumbnail" src="/img/tab_usl_sod.jpg" />
                    </div>
                </div>
                <div class="tablica">
                    <table>
                        <tr class="main_tab_color">
                            <th>Возраст</th>
                            <th>Температура, С</th>
                            <th>Влажность</th>
                            <th>Световой день</th>
                            <th>Норма корма<br />(мясо-яичная порода)</th>
                            <th>Норма корма<br />(мясная порода)</th>
                        </tr>
                        <tr class="tab_color">
                            <th class="main_tab_color">0-1 неделя</th>
                            <td>35-37</td>
                            <td>70%</td>
                            <td>24 часа</td>
                            <td>4 гр</td>
                            <td>4 гр</td>
                        </tr>
                        <tr class="tab_color">
                            <th class="main_tab_color">1-2 неделя</th>
                            <td>32-34</td>
                            <td>60%</td>
                            <td>24 часа</td>
                            <td>7 гр</td>
                            <td>7 гр</td>
                        </tr>
                        <tr class="tab_color">
                            <th class="main_tab_color">2-3 неделя</th>
                            <td>28-30</td>
                            <td>56%</td>
                            <td>22 часа</td>
                            <td>12 гр</td>
                            <td>14 гр</td>
                        </tr>
                        <tr class="tab_color">
                            <th class="main_tab_color">3-4 неделя</th>
                            <td>24-26</td>
                            <td>50%</td>
                            <td>20 часов</td>
                            <td>18 гр</td>
                            <td>20 гр</td>
                        </tr>
                        <tr class="tab_color">
                            <th class="main_tab_color">4-5 неделя</th>
                            <td>20-22</td>
                            <td>50%</td>
                            <td>17 часов</td>
                            <td>20 гр</td>
                            <td>25 гр</td>
                        </tr>
                        <tr class="tab_color">
                            <th class="main_tab_color">5-6 неделя</th>
                            <td>18-20</td>
                            <td>50%</td>
                            <td>17 часов</td>
                            <td>25 гр</td>
                            <td>30 гр</td>
                        </tr>
                        <tr class="tab_color">
                            <th class="main_tab_color">Взрослая птица</th>
                            <td>18-20</td>
                            <td>50%</td>
                            <td>17 часов</td>
                            <td>28 гр</td>
                            <td>35 гр</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div>
                <p>
                    Перед тем, как пересадить птенцов в брудер, его обязательно прогревают до 37 градусов. <b>
                        В первые дни жизни
                        переохлаждение для малышей особенно опасно.
                    </b><br /><br />
                    Через несколько часов после пересадки в брудер, <b>нужно провести повторный осмотр.</b> Если кто-то из птенцов
                    ведет себя вяло, не притрагивается к еде и воде, не может встать на лапы и "ездит" на животе, либо его по
                    какой-то причине клюют сородичи, то такого птенца нужно отсадить.<br />
                    Перепелят с врожденными дефектами отсаживают отдельно и оставляют на откорм.
                </p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Если птенцов привозят из другого хозяйства, то их 1-2 недели держат на карантине в отдельном помещении,
                            изолированно от других перепелов.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    В брудере должна находиться вода и корм. Первые несколько дней корм сыпят прямо на пеленку, чтобы птенцам
                    было легко его находить. Воду наливают в емкость с очень низкими бортиками. Например, в крышку от банки.
                    <br /><br />
                    Нужно наблюдать за поведением птенцов. Если им комфортно, то малыши ведут себя активно, свободно перемещаются
                    по всему пространству в брудере: кто-то ест, кто-то пьет, а кто-то, собравшись в небольшую группу, спит.
                    Однако, если все птенцы собираются у лампы и жмутся друг к другу, то это сигнал, что птенцы замерзли. И
                    наоборот, если они кучкуются подальше от лампы, значит им слишком жарко.
                    <br /><br />
                </p>
                <br />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />











    <div class="container">
        <div class="row">
            <div class="important_name">
                <h2 class="text_color"><a name="cage"><i><b>Кормление птенцов и взрослых перепелов</b></i></a></h2>
            </div>
        </div>
    </div>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails173.jpg" />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Кормить перепелов можно как собственными мешанками, так и готовым комбикормом.<br />
                    Кормление комбикормом сразу избавляет владельца перепелов от многих хлопот, при этом такие
                    корма правильно сбалансированы. Перепела на комбикорме хорошо несутся и набирают вес. Кроме
                    того, <b>сухой комбикорм можно засыпать в автокормушку сразу на несколько дней.</b>
                    Влажная мешанка быстро портится, ее дают не реже 2-х раз в сутки, предварительно удаляя из кормушки
                    остатки старого корма.<br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Есть мнение, что яйца и мясо птицы, выращенной на мешанках, более вкусное и полезное. Это правда,
                            но здесь всё зависит от того, насколько у владельца птицы получается готовить собственные корма,
                            насколько они сбалансированы. На неправильно подобранном рационе птица становится менее
                            продуктивной, а вкус мяса и яиц оставит желать лучшего. Но при грамотном подходе и наличии опыта,
                            можно вырастить птицу, достойную настоящих гурманов.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Что касается пользы, то нет никаких подтвержденных данных о существовании разницы на чём выращивалась
                    птица: на собственных кормах или готовом комбикорме. Польза будет практически одинакова.
                    Главное - брать комбикорм у проверенного производителя, предварительно изучив состав.<br /><br />
                    Комбикормом можно кормить перепелов с первого дня жизни. Для этого вполне подойдет перемолотый
                    комбикорм для молодняка.
                </p>
            </div>
        </div>
        <br />

        <h4>
            Пример состава комбикорма для перепелов.
        </h4>
        <div class="tablica_img">
            <div class="pict">
                <img class="img-thumbnail" src="/img/tab_komb.jpg" />
            </div>
        </div>
        <div class="tablica">
            <table>
                <tr class="main_tab_color">
                    <th>Компонент</th>
                    <th>Возраст<br />1-4 неделя</th>
                    <th>Возраст<br />5-6 неделя</th>
                    <th>Возраст<br />Взрослые перепела</th>
                </tr>
                <tr class="tab_color">
                    <td>Кукуруза</td>
                    <td>40%</td>
                    <td>43%</td>
                    <td>40%</td>
                </tr>
                <tr class="tab_color">
                    <td>Пшеница</td>
                    <td>8,6%</td>
                    <td>25%</td>
                    <td>14,5%</td>
                </tr>
                <tr class="tab_color">
                    <td>Отруби пшеничные</td>
                    <td>-</td>
                    <td>5%</td>
                    <td>-</td>
                </tr>
                <tr class="tab_color">
                    <td>Шрот подсолнечный</td>
                    <td>-</td>
                    <td>10%</td>
                    <td>10%</td>
                </tr>
                <tr class="tab_color">
                    <td>Шрот соевый</td>
                    <td>35%</td>
                    <td>-</td>
                    <td>20%</td>
                </tr>
                <tr class="tab_color">
                    <td>Рыбная мука</td>
                    <td>5%</td>
                    <td>5%</td>
                    <td>4%</td>
                </tr>
                <tr class="tab_color">
                    <td>Мясокостная мука</td>
                    <td>3%</td>
                    <td>3%</td>
                    <td>3%</td>
                </tr>
                <tr class="tab_color">
                    <td>Дрожжи кормовые</td>
                    <td>2%</td>
                    <td>3%</td>
                    <td>4%</td>
                </tr>
                <tr class="tab_color">
                    <td>Сухой обрат</td>
                    <td>3%</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr class="tab_color">
                    <td>Травяная мука</td>
                    <td>1%</td>
                    <td>3,5%</td>
                    <td>-</td>
                </tr>
                <tr class="tab_color">
                    <td>Мел, ракушка</td>
                    <td>1%</td>
                    <td>1%</td>
                    <td>3%</td>
                </tr>
                <tr class="tab_color">
                    <td>Соль поваренная</td>
                    <td>0,4%</td>
                    <td>0,5%</td>
                    <td>0,5%</td>
                </tr>
                <tr class="tab_color">
                    <td>Премикс</td>
                    <td>1%</td>
                    <td>1%</td>
                    <td>1%</td>
                </tr>
                <tr class="tab_color">
                    <td><b>ИТОГО:</b></td>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                </tr>
            </table>
        </div>
        <br /><br />
        <div class="row">
            <div>
                <h4><b><i>Кормление мешанкой</i></b><br /></h4>
                <br />
                <p>
                    Что касается собственного изготовления кормов, то тут владелец перепелов должен сразу оценить свои
                    силы. Особенно это касается кормления птенцов, ведь для них <b>
                        придется готовить корм каждые 3-4 часа,
                        днём и ночью.
                    </b> Дольше 4-х часов держать в брудере влажный корм нельзя. При высокой температуре, которая
                    поддерживается у птенцов, корм портится очень быстро. <b>
                        Невовремя убранный корм вызовет у птенцов
                        проблемы с желудком.
                    </b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Если птенцы будут то и дело доедать залежавшийся корм, то это в конечном итоге
                            приведет к ослаблению организма и даже гибели.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Однако, несмотря на все трудности, только такое кормление сможет дать вам гарантию, что птицы
                    получают действительно качественный корм.
                    <br />
                    <b>
                        Если владелец птиц может соблюдать необходимый режим кормления, то рацион можно выстроить
                        следующим образом:
                    </b><br /><br /><br />


                    <b><i>1-й день жизни.</i></b>
                    <br />
                    В первые сутки маленьким перепелятам дают измельченное вареное яйцо (белок и желток) и поят кипяченой
                    водой. В яйцо можно
                    добавить чуть-чуть вареной тертой моркови и отрубей.<br /><br /><br />


                    <b><i>2-й день жизни.</i></b>
                    <br />
                    На второй день количество отрубей и моркови можно немного увеличить. Постепенно начинают
                    вводить в рацион зелень.<br /><br /><br />


                    <b><i>3-й день жизни.</i></b>
                    <br />
                    С этого дня количество яйца в рационе начинают уменьшать за счет добавления небольшого количества
                    творога. Из зелени дают петрушку, сельдерей, листья одуванчика.<br /><br /><br />


                    <b><i>4-й день жизни.</i></b>
                    <br />
                    Продолжают давать все выше перечисленные продукты. Хорошим витамином станет крапива, предварительно
                    ошпаренная кипятком. Постепенно начинают вводить молотое зерно: пшено, кукуруза, рис<br /><br /><br />


                    <b><i>5-й день жизни.</i></b>
                    <br />
                    В течение пятого дня продолжают кормить выше перечисленными продуктами. Увеличивают количество молотого
                    зерна.<br /><br /><br />


                    <b><i>6-й день жизни.</i></b>
                    <br />
                    Вводят в рацион небольшое количество вареной рыбы.<br /><br /><br />


                    <b><i>7-й день жизни.</i></b>
                    <br />
                    В конце первой недели жизни птенцам начинают добавлять измельченную скорлупу яиц.<br /><br /><br />


                    <b><i>8-14 день жизни.</i></b>
                    <br />
                    Всю вторую неделю птенцы продолжают получать те продукты, к которым они привыкли с первых дней
                    жизни, но в другом соотношении. Теперь основой рациона становится молотое зерно, в которое добавляют
                    зелень: ботву, листья одуванчика, крапиву, клевер и т.п. Продолжают давать морковь, можно давать
                    капусту. Яйцо, творог и рыбу добавляют ограниченно - в сумме этих продуктов должно быть не более 30% от
                    всей массы корма. <br />
                    Птенцы обязательно должны получать минеральные
                    добавки: толченую скорлупу, мел, гравий, ракушечник.<br /><br /><br />


                    <b><i>15-30 день жизни.</i></b>
                    <br />
                    В течение 3-й и 4-й недели яйцо и творог постепенно исключается из рациона. Кормление основывается на
                    смеси молотой кукурузы, соевого шрота и пшеницы. Продолжают давать зелень, рыбу. Включают в рацион
                    мясокостную муку, минеральные добавки.<br /><br /><br />

                    <b><i>Взрослые перепела.</i></b>
                    <br />
                    Яйцо и творог больше не дают. Основа рациона - молотая кукуруза, соевый шрот и пшеница. Помимо соевого
                    шрота добавляют подсолнечный шрот. Также чуть-чуть примешивают кормовые дрожжи. Дают зелень, вареную
                    рыбу, мясокостную муку, минеральные добавки.
                </p>
            </div>
        </div>
        <br /><br />
        <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
        <br /><br />
        <br />
    </div>
</div>