@page "/qtema1"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="/" class="text_rub"><i>>> Все интересные статьи</i></a>
            <a href="qtema1" class="text_rub"><i>>> Перепела в квартире. Какую породу выбрать?</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Перепела в квартире. Какую породу выбрать?</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails291.jpg" />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Живете в городе, но очень хотите попробовать себя в роли птицевода? Выход есть! Заведите у себя перепёлок, и <b>
                        вы
                        обеспечите себя и всю свою семью превосходным диетическим мясом и свежими яйцами.
                    </b>
                    <br /><br />
                    Для того, чтобы содержание перепелов в квартире не превратилось в настоящий ад для вас и ваших соседей,
                    обязательно нужно соблюдать ряд требований. О том, как содержать перепелов в квартире, можно прочитать здесь:
                    <a href="qtema4">
                        <i>
                            Перепелам в городских квартирах — быть! Просто. Чисто. Сытно. Весело и интересно.
                        </i>
                    </a>
                    <br /><br />
                    Разберемся, какая порода лучше всего подойдет для содержания в квартире. Сравним 4 наиболее
                    популярных в нашей стране породы: эстонцев, фараонов, маньчжурцев и техасцев.<br />
                </p>
            </div>
        </div>
        <br />

        <h3><span class="text_color2"><b>Эстонские перепела.</b></span></h3>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails845.jpg" />
        </div>
        <br />


        <br />
        <div class="row">
            <div>
                <p>
                    Эстонские перепела отличаются высокой яйценоскостью и живым характером. За год от одной эстонской несушки можно
                    получить порядка 270 - 300 яиц, каждое из которых весит в пределах 12 гр.<br /><br />

                    Самцы крикливые. <b>
                        Поэтому в квартире лучше держать только самок, либо составлять небольшие изолированные друг от
                        друга семейки из 1 самца и 4-5 самок.
                    </b> Но помните, больше 3-х самцов держать вам точно не захочется!<br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Если планируете инкубировать яйца и выращивать собственных птенцов, будьте готовы уже к месячному возрасту
                            переселять самцов в морозилку (хотя вес к этому моменту они наберут очень маленький), пока петушки не начали
                            устраивать вам концерты по утрам.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div>
                <p>
                    Оставлять эстонских самцов на откорм дольше одного месяца - привилегия загородных жителей, у которых есть для этих
                    целей отдельный птичник.<br /><br />
                    <i>**Узнать об этих перепелах подробнее и подсчитать рентабельность содержания, можно в разделе <a href="quails1">Эстонская порода перепелов.</a></i>
                    <br /><br />
                </p>
            </div>
        </div>
        <br />


        <h3><span class="text_color2"><b>Маньчжурские перепела.</b></span></h3>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails105.jpg" />
        </div>
        <br />


        <br />
        <div class="row">
            <div>
                <p>
                    По яйценоскости маньчжурцы немного проигрывают эстонцам. Зато яйца у них крупнее. Яйценоскость манчжурцев колеблется
                    в среднем от 210 до 240 яиц в год. Вес яиц достигает 15 гр. А еще <b>
                        у маньчжурцев очень эффектное оперение, поэтому их
                        можно держать просто для красоты.
                    </b> Как и эстонцы, маньчжурцы - птички активные. Поэтому все советы по эстонцам подходят
                    и для маньчжурских перепёлок.<br /><br />
                    <i>**Узнать об этих перепелах подробнее и подсчитать рентабельность содержания, можно в разделе <a href="quails2">Маньчжурская порода перепелов.</a></i>
                    <br /><br />
                </p>
            </div>
        </div>
        <br />

        <h3><span class="text_color2"><b>Перепела породы фараон.</b></span></h3>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails693.jpg" />
        </div>
        <br />


        <br />
        <div class="row">
            <div>
                <p>
                    Фараоны - мясная порода перепелов. <b>Больше 220 яиц в год от них получить весьма проблематично.</b> Зато яйца крупнее,
                    чем у представителей 2-х предыдущих пород, весом до 16 гр.<br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Фараоны выведены в США, а в нашей стране большинство фараонов - это, к сожалению, гибриды. Тем не менее их
                            продуктивность не имеет существенных отличий от настоящих перепелов фараонов.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div>
                <p>
                    Характер спокойнее, чем у мясо-яичных пород. <b>Меньше бегают по клетке, меньше шумят.</b>
                    Если повезет и
                    выводок окажется не слишком крикливым (либо вам удастся вычислить самых злостных крикунов и быстро от них избавиться),
                    можно даже оставить самцов на откорм до 1,5-2 месяцев. В этом случае вы получите полноценные перепелиные тушки.<br /><br />

                    Однако, надо помнить, что к фараонам часто приливают кровь эстонцев и маньчжурцев. Это помогает увеличить
                    яйценоскость, но подобные гибриды проигрывают в весе чистым фараонам.<br /><br />
                    <i>**Узнать об этих перепелах подробнее и подсчитать рентабельность содержания, можно в разделе <a href="quails3">Перепела породы фараон.</a></i>
                    <br /><br />
                </p>
            </div>
        </div>
        <br />

        <h3><span class="text_color2"><b>Техасские перепела.</b></span></h3>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails385.jpg" />
        </div>
        <br />


        <br />
        <div class="row">
            <div>
                <p>
                    Техасские перепела, - их еще называют Белый фараон - также принадлежат к мясному направлению. Настоящих крупных
                    техасцев приобрести проще, чем фараонов. Однако яйца техасские несушки несут не очень активно. <b>
                        В неделю от одной
                        перепелки можно получить 3-4 яйца, весом в пределах 14-16 гр.
                    </b><br /><br />

                    Техасцы очень спокойные птички. Поэтому, <b>
                        если планируете держать не только самок ради яиц, но
                        еще и выводить птенцов, оставляя молодых самцов на полноценный откорм, то техасская порода станет наиболее приемлемым
                        вариантом.
                    </b><br /><br />
                    <i>**Узнать об этих перепелах подробнее и подсчитать рентабельность содержания, можно в разделе <a href="quails4">Техасская порода перепелов.</a></i>
                    <br /><br />
                </p>
            </div>
        </div>
        <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
        <br />
        <br />
        <br />
    </div>
</div>
