@page "/qtema3"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="/" class="text_rub"><i>>> Все интересные статьи</i></a>
            <a href="qtema3" class="text_rub"><i>>> Осторожно, цыплячьи пальчики!</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Осторожно, цыплячьи пальчики!</i></h1>
    <br />

    <br />
    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails231.jpg" />
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div>
                <p>
                    Всего за несколько дней я чуть не превратила трёх птенцов в инвалидов. Решила рассказать об этом на сайте, возможно для кого-то моя
                    информация окажется полезной.
                    <br /><br />

                    Две недели назад у нас в семье случилась радость - на свет появился целый выводок птенчиков от наших перепёлок.<br /><br />

                    Первые 5 дней вылупившиеся перепелята жили в брудере, обустроенном специально для новорожденных цып, а потом переселились в обычный
                    брудер с сетчатым полом. <b>Вот только ячейки сетки пола для лапок птенчиков оказались еще великоваты.</b> Чтобы птенчикам было
                    удобнее ходить, поверх сетки положили газету.<br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Вообще, за птенцами мы ухаживаем очень внимательно, но тут действительно недосмотрели.. Даже при том, что газета регулярно
                            заменялась на чистую, птенцы все равно успевали изрядно потоптать собственный помёт.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div>
                <p>
                    <b>Через несколько дней после пересадки я обратила внимание, что у некоторых малышей к коготкам присохло немного помета.</b>
                    Но значения этому никакого не придала.<br />
                    Еще несколько дней я не обращала внимания на их коготки. Вчера снова нашла этих трёх птенцов.
                    <b>Но их пальчики не только не очистились от помёта, наоборот, его налипло еще больше.</b> Но времени заниматься лапками уже не было,
                    и я оставила это дело на следующий день.<br /><br />

                    Сегодня меня ждали на пальчиках вот такие шарики:<br /><br />
                </p>
            </div>
        </div>

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails230.jpg" />
        </div>
        <br />

        <br />
        <div class="row">
            <div>
                <p>
                    "Помёт ведь хрупкий, - думала я - сейчас быстренько его смою водой и всё будет в порядке".<br /><br />
                    Но нет. <b>Помет окаменел. Вода его не брала.</b> Пришлось очень долго держать лапки бедных птенцов под краном, чтобы шарики хоть
                    чуть-чуть начали размокать. Причем у шариков размокал только тоненький верхний слой, а под этим слоем всё оставалось каменным.
                    Так постепенно, слой за слоем, пришлось их размачивать. <br /><br />
                    <b>Итог: на двух пальчиках шарики сошли вместе с коготками. </b>Еще у одного из птенцов пальчик был настолько сильно пережат
                    налипшим пометом, что после того, как его отчистили, кончик пальчика, который находился внутри шарика, оказался в 2 раза
                    тоньше.<br /><br />
                    Берегите своих птичек и никогда не допускайте таких дурацких ошибок!
                </p>
            </div>
        </div>
        <br />

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails232.jpg" />
        </div>
        <br />
        <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
        <br />
        <br />
        <br />
    </div>
</div>