@page "/qtema2"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="/" class="text_rub"><i>>> Все интересные статьи</i></a>
            <a href="qtema2" class="text_rub"><i>>> Драка в клетке. Никогда не жалейте агрессивную птицу!</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Драка в клетке. Никогда не жалейте агрессивную птицу!</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails692.jpg" />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    У опытных птицеводов есть золотое правило <b>- никогда не жалеть агрессоров.</b> А у неопытных птицеводов есть наивная
                    надежда <b>- лучше дать шанс, а вдруг исправится.</b>
                    <br /><br />

                    Разумеется, я поначалу принадлежала именно ко второй категории людей. Поэтому, когда в клетке с перепелами была
                    замечена агрессивная самка, здравый разум хоть и диктовал правильные действия, но мне они на тот момент казались
                    какими-то очень жестокими и вообще несвоевременными.<br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Да и сама ситуация не казалась какой-то критичной. Подумаешь, гоняется за сородичами, клюётся, хаос в клетке
                            наводит. А может она просто шибко доминантная и защищает своё личное пространство? За что же ее тогда в суп?
                            И вообще она хорошая, она же самка, скоро нестись начнёт. Жалко от нее избавляться!
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails795.jpg" />
        </div>
        <br />

        <div class="row">
            <div>
                <p>
                    Но оставлять её в коллективе тоже не хотелось. Поэтому было принято решение перегородить часть клетки гибким
                    пластиковым листом, и в маленьком отсеке поселить агрессивную провокаторшу.<br /><br />

                    <b>
                        Но жалость продолжала брать своё (мол, ей же там будет скучно одной), поэтому к ней в компанию был подсажен самый
                        активный самец.
                    </b> На тот момент казалось, что насыщенная личная жизнь сможет как-то умерить агрессию.<br /><br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Как ни странно, эти действия помогли. В первые часы проживания в отдельном отсеке самка, конечно, изрядно
                            погонялась за самцом, но потом немного успокоилась, и они составили вполне сносную семейную пару.<br />
                            Но ненадолго...
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div>
                <p>
                    Нерастраченная агрессия сменилась глюками. Теперь в каждом углу клетки ей стало мерещиться "нечто", и она это "нечто"
                    пыталась клевать. "Нечто" всегда находилось сверху, где-то в воздухе, и подлежало обязательному склёвыванию.<br />
                    Такое поведение, честно говоря, отбило всякое желание оставлять эту перепелку как несушку. Поэтому она просто оставалась
                    на откорм на 2 недели. Но и этого срока оказалось много.<br /><br />
                </p>
            </div>
        </div>
        <br />

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails624.jpg" />
        </div>
        <br />

        <div class="row">
            <div>
                <p>
                    <b>Когда я в очередной раз пришла покормить перепёлок, то увидела сцену, которую в принципе должна была увидеть.</b>
                    В отсеке, где сидела самка с самцом, осталась только одна птичка. Следы на стенках, в лотке, на потолке, и даже на
                    перьях оставшейся в живых птички, ясно свидетельствовали об ужасной расправе. Сначала я не обратила внимание, кто
                    из птичек остался в живых. Вернее, я была на 100% уверена, что там сидит та самая сумасшедшая самка, а самец
                    перекочевал в недра ее желудка. Однако, здравый рассудок подсказывал, что за несколько часов моего отсутствия, самка
                    ну никак не смогла бы поглотить абсолютно всё, включая перышки и косточки. Осмотрев клетку несколько раз, растерзанная
                    тушка так и не была найдена. <b>Не понимая ничего, я присмотрелась к оставшейся в отсеке птичке. Это был самец!</b>
                    Несчастный, поклёванный самец!<br /><br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Но где же тогда самка? Единственно, что могло прийти в голову, что она подлезла между яйцесборником и
                            кормушкой, и сейчас гуляет где-то на полу.
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div>
                <p>
                    Обыскав всё вокруг, я естественно никого не нашла. Снова вернулась к клетке и начала пересчитывать обитателей
                    основного отсека. <b>И, да, она сидела там. Вместе со всеми перепелами. Совершенно целая и невредимая.</b> И опять на
                    всех нападала.<br /><br />
                    <i>
                        <small>
                            **(уже потом, когда я снимала перегородку, то заметила, что угол, приклеенный изолентой к металлической
                            стенке, оказался отклеен. Видимо, поклевав самца, самка целенаправленно прорвалась в коллектив)
                        </small>
                    </i><br />
                    Конечно же, в тот же вечер ее пришлось переселить в холодильник. А вместе с ней и самца, которого тоже не было
                    никакого смысла выхаживать.<br /><br />
                    Вот такая неприятная история.<br /><br />
                </p>
            </div>
        </div>

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails994.jpg" />
        </div>
        <br />
        <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
        <br />
        <br />
        <br />
    </div>
</div>
