@page "/qtema4"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="/" class="text_rub"><i>>> Все интересные статьи</i></a>
            <a href="qtema4" class="text_rub"><i>>> Перепелам в городских квартирах — быть! Просто. Чисто. Сытно. Весело и интересно.</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Перепелам в городских квартирах — быть! Просто. Чисто. Сытно. Весело и интересно.</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails397.jpg" />
    </div>
    <div>
        <p class="text_color5" align="center">
            Перепела на кухне в городской квартире
        </p>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    <b>Смело заводите в своей городской квартире перепёлочек!</b> Даже если на лето их некуда вывезти. Ведь им всегда можно
                    поставить автокормушку и поехать на несколько дней по своим делам.
                    <br /><br />
                    О том, какую породу перепелов лучше выбрать для содержания в квартире, читайте здесь: <a href="qtema1">
                        <i>
                            Перепела в квартире. Какую породу выбрать?
                        </i>
                    </a><br /><br />

                    <b><big>Вам с перепелами будет очень комфортно, если вы:</big></b><br />
                    - найдёте для них 1 метр площади;<br />
                    - приобретёте или смастерите клетку, обязательно закрытую со всех сторон, кроме передней. Металлическую;<br />
                    - будете пользоваться уже готовым качественным комбикормом с необходимыми витаминами;<br />
                    - соберёте немного газетной бумаги для поддона;<br />
                    - найдёте в среднем 10 минут в день для своих пернатых любимцев.
                    <br /><br />
                    <b><i>Разберём каждый пункт подробно.</i></b>
                </p>
            </div>
        </div>
        <br /><br />
        <h3><span class="text_color2"><b>Найдите для своих перепёлок всего 1 метр площади.</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Перепёлок можно держать и на кухне, и в ванной, и в комнате, и на балконе (застекленном), и в кладовке.
                    Кто-то держит в шкафу, кто-то даже в спальне.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Однако, если есть петушки, то помещение должно быть с плотно закрывающейся дверью, хотя покрикивают они
                            не громче попугайчиков.
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <p>
                    На 1 кв. метре ярусами можно расположить: мешки с комбикормом, клетку с перепелами, брудер для птенцов,
                    инкубатор (по желанию).
                </p>
            </div>
        </div>

        <br />
        <br />
        <h3><span class="text_color2"><b>Приобретите или смастерите клетку.</b></span></h3>


        <div class="row">
            <div>
                <p>

                    Чтобы пух, пёрышки, пыль и прочие продукты жизнедеятельности не покидали пределов клетки, стенки её, кроме
                    передней, должны быть полностью закрытыми, с небольшими прорезями для вентиляции.<br /><br />
                    Чтобы от птиц не было никакого запаха, <b>клетка должна быть целиком металлической.</b> Деревянные элементы
                    клеток запах впитывают и для квартиры не годятся.<br /><br />

                    Закрытая клетка создаёт перепёлкам необходимый уютный полумрак, поддерживает там нужную влажность воздуха,
                    защищает от стрессов.<br /><br />
                </p>
            </div>
        </div>

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails121.jpg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Уютная маленькая кухня, в которой всё помещается
            </p>
        </div>
        <br /><br />

        <h3><span class="text_color2"><b>Пользуйтесь готовым качественным комбикормом.</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Полноценное питание квартирным перепёлкам обеспечивают современные комбикорма. Состав их полностью сбалансирован и
                    гарантирует быстрый рост птиц, здоровье и прекрасную регулярную яйценоскость.
                    <b>В изготовлении корма собственноручно нет никакой необходимости.</b>
                    Что-либо добавлять в рацион тоже излишне.
                </p>
            </div>
        </div>
        <br /><br />

        <h3><span class="text_color2"><b>Легко убираться, легко ухаживать.</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Для поддона используется обычная газетная бумага, положенная в 2-4 слоя. У неё хорошая впитывающая способность,
                    она легко снимается при чистке, не прилипает. Менять её можно один раз в день.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Вытирать пыль и пылесосить помещение надо будет не чаще, чем в обычной жизни (если, конечно, в обычной
                            жизни вы убираетесь регулярно).
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <p>
                    Раз в месяц проводится генеральная уборка в клетке с промыванием хозяйственным мылом и пищевой содой.<br /><br />
                    <b>Если держать перепелов не только на яйца, но и на мясо, </b>то для «дня жертвоприношения» понадобится обрезанная
                    наполовину 1,5- литровая пластиковая бутылка, обычная раковина, ножницы или секатор, кастрюля для воды, десертная
                    ложка для потрошения, холодильник.<br /><br />
                </p>
            </div>
        </div>
        <br /><br />
        <h3><span class="text_color2"><b>Найдите 10 минут в день для своих пернатых любимцев.</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Потенциал для общения с питомцами велик. С птицами можно «говорить», подражая их разнообразным возгласам.
                    Можно часами наблюдать за их поведением, взаимоотношениями.<br /><br />
                    Можно (но не часто) брать их в руки, «показывать мир». Птички неплохо летают, поэтому выпускать их следует с
                    большой осторожностью. А можно не выпускать вовсе.<br /><br />
                    Ежедневно собирайте тёплые полезнейшие яйца из-под курочки с благодарностью. Придумывайте различные блюда из них
                    (можно кушать даже со скорлупкой). Обеспечивайте себя и свою семью здоровьем, и хорошим настроением.<br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            <ins>Детям</ins> - «гоголь-моголь», пёрышки для поделок;<br />
                            <ins>Владельцам</ins> - удобрение на огород;<br />
                            <ins>Для праздников с гостями</ins> - упитанные тушки на шашлычок;<br />
                            <ins>Для любознательных</ins> - чудо появления новой жизни в инкубаторе;
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails684.jpg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Перепёлки на прогулке
            </p>
        </div>

        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/quails/quails835.jpg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Перепела отлично уживаются по соседству с попугаями
            </p>
        </div>
        <br />
        <h3><span class="text_color2"><b>Расчет на семью из четырех человек:</b></span></h3>

        <div class="row">
            <div>
                <p>
                    Чтобы в норме получать на каждого 7 - 8 яиц в неделю, по праздникам изысканный мясной деликатес, заполненные
                    небольшой инкубатор и брудер с цыплятами, <b>потребуются 10 - 12 несушек и 3 - 4 петушка.</b>
                    Для городской квартиры предпочтительнее техасская порода, так как имеет имеет тушку более весомую, поведение более
                    спокойное, а голос более тихий.<br /><br />
                    <b>Успехов всем — настоящим и будущим перепеловодам!</b><br />
                </p>
            </div>
        </div>

        <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
        <br />
        <br />
        <br />
    </div>
</div>