@page "/plumage"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="/" class="text_rub"><i>>> Все интересные статьи</i></a>
            <a href="plumage" class="text_rub"><i>>> Не выбрасывайте перья от своих птиц! Это ваш дополнительных доход.</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Не выбрасывайте перья от своих птиц! Это ваш дополнительных доход.</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/coll/coll0.jpeg" />
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div>
                <p>
                    Для владельцев птиц уже давно не секрет, что <b>перья - это такой же источник дохода, как мясо и яйцо.</b> Декоративное перо очень
                    высоко ценится среди профессиональных дизайнеров, художников, флористов и рукодельниц, создающих эксклюзивный хэнд мэйд. Кроме того,
                    это замечательный материал для детского творчества.
                    <br /><br />

                    Посмотрим, какие сегодня цены на перья разных видов птиц. <br /><small>(актуально на июнь 2020 года)</small><br /><br />
                </p>
            </div>
        </div>
        <br />

        <h5><span class="text_color2"><b>Перо петуха</b></span></h5>

        <div class="row">
            <div>
                <p>
                    <ins>Маленькие перья (5-10см):</ins> <i><b>от 50 до 140 руб</b> за 20 штук;</i><br />
                    <ins>Средние перья (10-18см):</ins> <i><b>от 140 до 230 руб</b> за 20 штук;</i><br />
                    <ins>Крупное перо (20-30см):</ins> <i><b>около 24 руб</b> за 1 штуку;</i><br />
                    <br /><br />
                </p>
            </div>
        </div>

        <h5><span class="text_color2"><b>Гусиное перо</b></span></h5>

        <div class="row">
            <div>
                <p>
                    <ins>Маленькие перья (4-9см):</ins> <i><b>в пределах 160 руб</b> за 100 штук;</i><br />
                    <ins>Средние перья (12-18см):</ins> <i><b>от 100 до 150 руб</b> за 20 штук;</i><br />
                    <ins>Крупное перо (25-40см):</ins> <i><b>около 50 руб</b> за 1 штуку;</i><br />
                    <br /><br />
                </p>
            </div>
        </div>

        <h5><span class="text_color2"><b>Перо утки</b></span></h5>

        <div class="row">
            <div>
                <p>
                    <ins>Перо (10-16см):</ins> <i><b>около 100 руб</b> за 20 штук;</i><br />
                    <br /><br />
                </p>
            </div>
        </div>

        <h5><span class="text_color2"><b>Перо цесарки</b></span></h5>

        <div class="row">
            <div>
                <p>
                    <ins>Перо (7-11см):</ins> <i><b>около 110 руб</b> за 20 штук;</i><br />
                    <br /><br />
                </p>
            </div>
        </div>

        <h5><span class="text_color2"><b>Перо фазана</b></span></h5>

        <div class="row">
            <div>
                <p>
                    <ins>Маленькие перья (4-10см):</ins> <i><b>около 150 руб</b> за 20 штук;</i><br />
                    <ins>Средние перья (15-20см):</ins> <i><b>от 100 до 170 руб</b> за 10 штук;</i><br />
                    <ins>Крупное перо (50-55см):</ins> <i><b>около 70 руб</b> за 1 штуку;</i><br />
                    <br /><br />
                </p>
            </div>
        </div>


        <div class="row">
            <div>
                <p>
                    <b>А теперь посмотрите, какие замечательные украшения и элементы декора создают дизайнеры при помощи перьев:</b><br />
                </p>
            </div>
        </div>
        <br />



        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll9.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Интерьерный венок.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll11.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Женский браслет из крашенных перьев.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll1.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Ловцы снов из крашенных перьев.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll2.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Абажур из перьев.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll3.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Елочка.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll12.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Еще елочки.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll4.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Абажур из крашенных перьев.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll13.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Брошь.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll5.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Брошь.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll6.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Женское колье.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll10.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Рамка для зеркала.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll7.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Серьги.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll8.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Мужские броши под строгий костюм.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll14.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Шляпа, декорированная перьями.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll15.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Брошь.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll21.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Картина из перьев.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll22.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Еще картина.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll16.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Серьги.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll17.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Броши.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll18.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Элемент декора.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll19.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Веера из перьев.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll20.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Элемент декора. Ловец снов.
            </p>
        </div>
        <div class="pict_img1">
            <img class="img-thumbnail" src="/img/coll/coll23.jpeg" />
        </div>
        <div>
            <p class="text_color5" align="center">
                Серьги.
            </p>
        </div>





        <div class="row">
            <div>
                <p>
                    Спасибо за просмотр!
                </p>
            </div>
        </div>
        <br />

        <a href="#" class="mb-2 refer"><i>Читайте наш канал на Яндекс.Дзен: <ins>Умная курочка</ins></i></a>
        <br />
        <br />
        <br />
    </div>
</div>
